@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color-scheme: light dark;

  /* Light Mode Colors */
  --background-color-light: #ffffff;
  --text-color-light: #333333;

  /* Dark Mode Colors */
  --background-color-dark: #242424;
  --text-color-dark: rgba(255, 255, 255, 0.87);
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
}

#root {
  display: flex;
  flex: 1;
}

/* Light Mode Styles */
@media (prefers-color-scheme: light) {
  body {
    background-color: var(--background-color-light);
    color: var(--text-color-light);
  }
}
